*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#edf2f7;
}

.container{
  max-width:1600px;
  margin:auto;
  padding:20px;
}

.header{
  display:flex;
  align-items:center;
  gap:20px;
  padding:20px 30px;
  background:#edf2f7;
  margin-bottom:20px;
}

.logo{
  width:140px;
  height:auto;
  object-fit:contain;
}

.header h1,
#titleText{
  font-size:24px !important;
  font-weight:800 !important;
  margin:0 !important;
  color:#0f172a !important;
  line-height:1.1 !important;
}

.subtitle,
#subtitleText{
  font-size:16px !important;
  font-weight:500 !important;
  color:#64748b !important;
  margin-top:4px !important;
}

.language-switch{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

.language-switch button{
  border:none;
  background:white;
  color:#000;
  padding:12px 18px;
  border-radius:14px;
  cursor:pointer;
  font-weight:bold;
}

.card-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
}

.card{
  background:white;
  padding:20px;
  border-radius:20px;
  min-height:140px;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
  border-left:6px solid #cbd5e1;
  cursor:pointer;
}

.card:hover{
  transform:translateY(-3px);
  transition:0.2s;
}

.card p{
  color:#555;
  font-weight:bold;
}

.card h2{
  font-size:45px;
  margin:15px 0 10px;
}

.card span{
  font-weight:bold;
}

.green{
  border-left-color:#10b981;
}

.green h2,
.green span{
  color:#10b981;
}

.red{
  border-left-color:#ef4444;
}

.red h2,
.red span{
  color:#ef4444;
}

.orange{
  border-left-color:#f59e0b;
}

.orange h2,
.orange span{
  color:#f59e0b;
}

.table-box{
  margin-top:25px;
  background:white;
  padding:16px;
  border-radius:20px;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
  overflow-x:auto;
}

.table-box h2{
  font-size:20px;
  margin-bottom:12px;
}

#searchInput{
  width:100%;
  padding:12px;
  margin-bottom:14px;
  border:1px solid #ddd;
  border-radius:10px;
}

table{
  width:100%;
  border-collapse:collapse;
  font-size:13px;
  min-width:900px;
}

th, td{
  padding:10px;
  border-bottom:1px solid #e5e7eb;
  text-align:left;
  white-space:nowrap;
}

th{
  background:#f1f5f9;
  font-weight:bold;
}.mini-count{
  margin-top:8px;
  font-size:13px;
  color:#475569;
  font-weight:700;
}